@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: 255 255 255;
  --fg: 15 23 42; /* slate-900 */
}

html,
body,
#__next {
  height: 100%;
}
body {
  color: rgb(var(--fg));
  background: rgb(var(--bg));
}

/* Optional prose tweaks for nicer long-form text */
.prose p {
  margin-top: 0.9em;
  margin-bottom: 0.9em;
}
